# Jekyll build
_site
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# dev build
_dev

# Ruby
Gemfile.lock
*.rb

# npm
/node_modules
package-lock.json

# gulp deploy
.publish

# local drafts
_drafts

# wordpress import
_attachments
_nav_menu_items

# temp
^*