---
layout: default
---

<div id="post" class="large-8 cell post">
  {%- include banner.html -%}
  {%- if page.date -%}
  <time datetime="{{- page.date | date_to_xmlschema -}}" class="date">{{- page.date | date: "%d %b %Y" -}}</time>
  {%- endif -%}
  <h1 class="post-title">{{- page.title -}}</h1>
  <div class="post-line"></div>
  {{- content -}}
</div>

<div class="large-4 cell">
</div>

<div id="pagination" class="large-8 cell">
  <div>
    <a href="{{- page.url | absolute_url -}}">{{- page.title -}}</a>
    {%- if page.author and page.author.display_name -%}
    <span> by </span><span class="author">{{- page.author.display_name -}}</span>
    {%- else -%}
    <span> by </span><span class="author">{{- site.author.name -}}</span>
    {%- endif -%}
  </div>
  <ul class="tags">
    {%- assign tagUrl = site.links.tag | prepend: site.baseurl -%}
    {%- for tag in page.tags -%}
    <li><a href="{{- tag | slugify | prepend: tagUrl -}}">{{- tag -}}</a></li>
    {%- endfor -%}
  </ul>
</div>

<div class="large-8 cell">
  {%- include disqus_comments.html -%}
</div>

<div class="large-12 cell">
  <div class="grid-x grid-margin-x grid-padding-y">
    <div class="large-6 cell">
      {%- if page.next.url -%}
      <span class="next">Next</span>
      <a href="{{- page.next.url | prepend: site.baseurl -}}">{{- page.next.title -}}</a>
      {%- endif -%}
    </div>
    <div class="large-6 cell">
      {%- if page.previous.url -%}
      <span class="prev">Previous</span>
      <a href="{{- page.previous.url | prepend: site.baseurl -}}">{{- page.previous.title -}}</a>
      {%- endif -%}
    </div>
  </div>
</div>

<div class="large-12 cell">
  <div class="top"><a href="#" class="top">Top</a></div>
</div>